<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>SmartNote</title>
</head>
<body>
  <nav>
    <div>
      <% if (user) { %>
        <a href="/notes">🏠</a>
        <a href="/notes">NoteBook</a>
        <a href="/notes/new">Add Note</a>
        <a href="/auth/sign-out">Sign out</a>
        <span><%= user.name %></span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  <main>
