<%- include('../partials/header.ejs') %>

<h1>Hello </h1>
<p><em>Let's get to work!</em></p>

<% if (notes.length > 0) { %>
      <ul>
        <% notes.forEach(note => { %>
          <li>
            <a href="/notes/<%= note._id %>"><%= note.title %></a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No Notes Available, Create One!</p>
    <% } %>

<a href="./new.ejs">ADD NOTE</a>

<%- include('../partials/footer.ejs') %>